<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客博文-{$rwz[0].w_title}</title>
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css">
    <script src="__ROOT__/Public/js/jquery-1.12.4.min.js"></script>
    <script src="__ROOT__/Public/js/bootstrap.min.js"></script>
    <style>
    a{
        cursor: pointer;
    }
    </style>
</head>
<body>
    <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <include file="Public/header" />
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ol class="breadcrumb" style="background:#fff">
                <li><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('Blo/b')}">博文</a></li>
                <li class="active">{$rwz[0].w_title}</li>
            </ol>
            <hr>
        </div>
        <div class="col-md-9 column">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        {$rwz[0].w_title} 
                        <br><small>{$rwz[0].w_name}__{$rwz[0].time}__<span class="glyphicon glyphicon-eye-open"> {$rwz[0].read}</span></small>
                    </h1>
                </div>
                <h4 style="line-height:30px">
                    {$rwz[0].text}
                    <hr>
                    <center>    
                    “完”
                    </center>
                    <hr>
                </h4>
            </div>

        </div>

        <div class="col-md-3 column">
            <include file="Public/right" />
        </div>

    </div>
</div>
<include file="Public/footer" />
</body>
</html>