<div class="col-md-12 column">
    <div class="list-group">
        <a style="background:#000" class="list-group-item active">管理列表</a>
         <div class="list-group-item">
          <a href="{:U('Admin/admin')}">用户信息</a>
         </div>
         <div class="list-group-item">
          <a href="{:U('Admin/ud')}">增加用户</a>
         </div>
         <div class="list-group-item">
          <a href="{:U('LY/y')}">留言信息</a>
         </div>
         <div class="list-group-item">
          <a href="{:U('BW/w')}">博文信息</a>
         </div>
         <div class="list-group-item">
          <a href="{:U('BW/add')}">添加博文</a>
         </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>
<script>
</script>